<%# app/views/shared/_flash_dialog.html.erb %>
<%
# Default values for local assigns
classes ||= "bg-gray-50 text-gray-700 border border-gray-100"
		auto_dismiss ||= false
		dismiss_after ||= 5000 # in milliseconds
%>

<%# app/views/shared/_flash_dialog.html.erb %>
<dialog open
        class="<%= classes %> rounded-lg p-4 mb-4 text-center font-sans shadow-sm w-full relative flex items-center justify-between transition-opacity duration-150"
							 data-dialog-target="dialog">
    <div class="flex-grow"><%= message %></div>
</dialog>
